option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: ashaThesis.wsgi:application
  aws:autoscaling:launchconfiguration:
    InstanceType: t3.small
  aws:elasticbeanstalk:cloudwatch:logs:
    StreamLogs: true
    DeleteOnTerminate: false
    RetentionInDays: 7

container_commands:
  01_migrate:
    command: "source /var/app/venv/*/bin/activate && python manage.py migrate --noinput"
    leader_only: true
  02_fix_db_permissions:
    command: "chmod 666 /var/app/current/db.sqlite3 && chmod 777 /var/app/current"
    ignoreErrors: true
