files:
  /etc/nginx/conf.d/client_max_body_size.conf:
    mode: "000644"
    owner: root
    group: root
    content: |
      client_max_body_size 5000M;

commands:
  01_create_nginx_conf:
    command: |
      mkdir -p /etc/nginx/conf.d
      echo 'client_max_body_size 5000M;' > /etc/nginx/conf.d/client_max_body_size.conf

container_commands:
  01_reload_nginx:
    command: "sudo systemctl reload nginx || sudo /etc/init.d/nginx reload || true"
    ignoreErrors: true

