files:
  /etc/nginx/conf.d/01_client_max_body_size.conf:
    mode: "000644"
    owner: root
    group: root
    content: |
      # Increase max client body size to 5GB for large parquet file uploads
      client_max_body_size 5000M;

commands:
  01_reload_nginx:
    command: "sudo systemctl reload nginx"
    ignoreErrors: true

